{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-cont">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="dark-background"></div>
    <div class="scroll-top-btn shadow-sm rounded-0 border redish-border">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-chevron-up mx-auto my-auto text-white"></i>
        </a>	
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-lg-2">
                <h2 class="logo-font text-white text-uppercase mt-lg-5">OFFERS</h2> 
                {% for cat in curr_categories %}
                    <a class="category-badge text-decoration-none" href="{% url 'offers' %}?category={{ cat.name }}">
                        <span class="p-2 mt-2 badge badge-white text-white rounded-0 border">{{ cat.user_friendly }}</span>
                    </a>
                {% endfor %}   
                <div class="mb-2 w-50 white-hr"></div>
            </div>
        </div>
        <div class="row">
            <div class="offers-container col-10 mt-4 offset-1">
                <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-sm-100 w-lg-50">
                            <!-- !!! -->
                            <select id="sort-selector" class="sorting-select custom-select custom-select-sm border border-{% if curr_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if curr_sorting == 'None_None' %}selected{% endif %}>Sort Offers By...</option>
                                <option value="price_asc" {% if curr_sorting == 'price_asc' %}selected{% endif %}>Price (Low To High)</option>
                                <option value="price_desc" {% if curr_sorting == 'price_desc' %}selected{% endif %}>Price (High To Low)</option>
                                <option value="name_asc" {% if curr_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if curr_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="category_asc" {% if curr_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                <option value="category_desc" {% if curr_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            {% if to_search or curr_categories or curr_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'offers' %}" class="redish-color">Show All Offers</a> | </span>
                            {% endif %}
                            {{ offers|length }} {% if offers|length == 1 %}Offer{% else %}Offers{% endif %}
                            {% if to_search %} found for <strong>"{{ to_search }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    {% for offer in offers %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-5">
                            <div class="card rounded-border offer">
                                {% if offer.image %}
                                        <a href="{% url 'offer_details' offer.id %}">
                                            <img class="card-img-top img-fluid rounded-border" src="{{ offer.image.url }}" alt="{{ offer.name }}">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'offer_details' offer.id %}">
                                            <img class="card-img-top img-fluid rounded-border" src="{{ MEDIA_URL }}noimage.png" alt="{{ offer.name }}">
                                        </a>
                                    {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0 text-center text-uppercase">{{ offer.name }}</p>
                                </div>
                                <div class="mb-3 card-hr"></div>
                                <div class="card-footer pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="offers-price lead mb-0 text-center font-weight-bold">
                                                <span class="floating-dollar">$</span> {{ offer.price }}
                                                <span class="floating-cents"></span>
                                            </p>
                                            <p class="small mt-1 mb-0">
                                                {% if offer.category %}
                                                    <a class="text-muted" href="{% url 'offers' %}?category={{ offer.category.name }}">
                                                        <i class="fab fa-buffer mr-1"></i>
                                                        {{ offer.category.user_friendly }}
                                                    </a>
                                                {% else %}
                                                    <a class="text-muted" href="#">
                                                        <i class="fab fa-buffer mr-1"></i>
                                                        Offer
                                                    </a>
                                                {% endif %}
                                            </p>
                                            {% if offer.is_course %}
                                                <small class="text-muted">
                                                    <i class="fas fa-clock mr-1"></i>
                                                    {{ offer.time_one }} and {{ offer.time_two }}
                                                </small>
                                                <p>
                                                    <small class="text-muted">
                                                        <i class="fas fa-calendar-alt mr-1"></i>
                                                        {{ offer.day_one|capfirst }} {{ offer.day_span }} {{ offer.day_two|capfirst }}
                                                    </small>
                                                </p>
                                            {% else %}
                                                <small class="text-muted">
                                                <i class="fas fa-check mr-1"></i>
                                                Best quality - certified
                                            </small>
                                            <p>
                                                <small class="text-muted">
                                                    <i class="fas fa-dolly mr-1"></i>
                                                    No shipping - pick it up here
                                                </small>
                                            </p>
                                            {% endif %}
                                            <div class="col text-center" style="padding: 0">
                                                <a href="{% url 'offer_details' offer.id %}" class="go-to-offer-btn redish-hover btn rounded-0 text-uppercase">
                                                    {% if offer.is_course %}
                                                        join course
                                                    {% else %}
                                                        see product
                                                    {% endif %}
                                                </a>
                                            </div>
                                            {% if request.user.is_superuser %}
                                                <small class="ml-0">
                                                    <a href="{% url 'upd_offer' offer.id %}">Update</a> | 
                                                    <a class="text-danger" href="{% url 'del_offer' offer.id %}">Delete</a>
                                                </small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    
    <script type="text/javascript">

        const sortSelector = document.querySelector("#sort-selector");

        // Sorts Offers every time user selects order
        sortSelector.addEventListener("change", (e) => {
            let currUrl = new URL(window.location);
            let selValue = e.target.value;

            if (selValue != "reset") {
                let sort = selValue.split("_")[0];
                let direction = selValue.split("_")[1];

                currUrl.searchParams.set("sort", sort);
                currUrl.searchParams.set("direction", direction);

                window.location.replace(currUrl);
            } else {
                currUrl.searchParams.delete("sort");
                currUrl.searchParams.delete("direction");

                window.location.replace(currUrl);
            }
        });

    </script>
{% endblock %}