{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
<div class="container header-cont">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="dark-background"></div>
    <div class="scroll-top-btn btn-left-side shadow-sm rounded-0 border redish-border">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-chevron-up mx-auto my-auto text-white"></i>
        </a>	
    </div>
    <div class="container cart-cont mb-2 cart-cont">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font text-white mb-4">Shopping Cart</h2>
                <div class="white-hr w100 my-3"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
               {% if cart_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless mb-4">
                            <thead class="text-white">
                                <tr>
                                    <th scope="col"><p class="cart-th lead">Image</p></th>
                                    <th scope="col"><p class="cart-th lead">Name</p></th>
                                    <th scope="col"><p class="cart-th lead">Price</p></th>
                                    <th scope="col"><p class="cart-th lead">Quantity</p></th>
                                    <th scope="col"><p class="cart-th lead">Subtotal</p></th>
                                </tr>
                            </thead>
                           {% for item in cart_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        {% if item.offer.image %}
                                            <img class="w-100" src="{{ item.offer.image.url }}" alt="{{ item.offer.name }}">
                                        {% else %}
                                            <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.offer.name }}">
                                        {% endif %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0 pr-1 text-white text-uppercase item-name">{{ item.offer.name }}</p>
                                        <p class="my-0 text-muted"><strong style="font-weight: 400">Size: </strong>
                                            {% if item.offer.has_sizes and not item.offer.is_shoe %}
                                                {{ item.size|upper }}
                                            {% elif item.offer.has_sizes and item.offer.is_shoe %}
                                                {{ item.size }}
                                            {% else %}
                                                <small>N/A</small>
                                            {% endif %}
                                        </p>
                                        <p class="my-0 small text-muted"></p>
                                    </td>
                                    <td class="py-3 px-1">
                                        <p class="my-0 cart-prices redish-color"><span class="text-white">$</span> {{ item.offer.price }}</p>
                                    </td>
                                    <td class="py-3 w-25 pr-5 mobile-qty-td">
                                        <form class="form update-form" method="POST" action="{% url 'adj_cart' item.item_id  %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group mobile-qty">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm redish-bg redish-hover rounded-0" 
                                                            data-item_id="{{ item.item_id }}" id="decr-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm no-pointer-events"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input" type="number"
                                                        name="qty" value="{{ item.qty }}" min="1" max="99"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="id_qty_{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm redish-bg redish-hover rounded-0"
                                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm no-pointer-events"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    {% if item.offer.has_sizes %}
                                                        <input type="hidden" name="item_sz" value="{{ item.item_sz }}">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </form>
                                        <a class="updt-link text-info"><small class="full-height-width">Update</small></a>
                                        <a class="rem-item float-right pr-5" id="remove_{{ item.item_id }}" data-item_sz="{{ item.size }}"><small class="full-height-width">Remove</small></a>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0 cart-prices redish-color">
                                            <span class="text-white">$</span> 
                                            {{ item.offer.price | calc_subtotal:item.qty }}
                                        </p>
                                    </td>
                                </tr>
                           {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-white text-right">
                                    <h6><strong>Cart Total: ${{ cart_total|floatformat:2 }}</strong></h6>
                                    <h6>Delivery: ${% if for_free_del > 0 %} {{ delivery|floatformat:2 }}
                                         {% else %} 0{% endif %}
                                    </h6>
                                    <h6>Taxes: % {{ curr_taxes_perc }}</h6>
                                    <h4 class="mt-4"><strong>Your Total: <span class="ml-2 cart-prices redish-color">${{ gr_total|floatformat:2 }}</span></strong></h4>
                                   {% if for_free_del > 0 %}
                                        <p class="mb-1 redish-color">
                                            You could get free delivery by spending just <strong class="text-white">${{ for_free_del }}</strong> more!
                                        </p>
                                    {% else %}
                                        <p class="mb-1 redish-color">
                                            You've reached ${{ free_del }} so the delivery is <strong class="text-white">FOR FREE!</strong>
                                        </p>
                                   {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right cart-checkout">
                                    <!-- mb-2 -->
                                    <a href="{% url 'offers' %}" class="back-to-shop-btn text-white btn btn-outline-black redish-border rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase text-white">back to shop</span>
                                    </a>
                                    <a href="{% url 'sec_checkout' %}" class="btn redish-bg text-white redish-hover rounded-0 btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
               {% else %}
                    <p class="lead mb-5">Your <span class="redish-color">Cart</span> is empty.</p>
                    <a href="{% url 'offers' %}" class="btn text-white redish-bg redish-hover rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
               {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'offers/includes/qty_input_btns_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    // $('.updt-link').click(function(e) {
    //     var form = $(this).prev('.update-form');
    //     form.submit();
    // })


    // DOM Variables
    const updtLink = document.querySelectorAll(".updt-link");
    const remItems = document.querySelectorAll(".rem-item");


    // Updates Quantity by clicking
    updtLink.forEach(u => u.addEventListener("click", (e) => {
        let form = e.target.parentElement.previousSibling.previousElementSibling;

        form.submit();
    }));


    // Removes Item and reloads by clicking
    remItems.forEach(r => r.firstElementChild.addEventListener("click", (e) => {
        let itemId = e.target.parentElement.id.split('remove_')[1];
        let item_sz = e.target.dataset.item_sz
        let rem_url = `/cart/remove/${itemId}/`;
        let csrfToken = "{{ csrf_token }}";

        let data = {'csrfmiddlewaretoken': csrfToken, 'items_by_sz': item_sz};

        $.post(rem_url, data)
         .done(() => {
             location.reload();
         });
    }));


</script>
{% endblock %}