<form class="form update-form" method="POST" action="{% url 'adj_cart' item.item_id  %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group mobile-qty">
            <div class="input-group-prepend">
                <button class="decr-qty-btn btn btn-sm redish-bg redish-hover" 
                    data-item_id="{{ item.item_id }}" id="decr-qty_{{ item.item_id }}">
                    <span>
                        <i class="fas fa-minus fa-sm no-pointer-events"></i>
                    </span>
                </button>
            </div>
            <input class="form-control input-group form-control-sm qty-input" type="number"
                name="qty" value="{{ item.qty }}" min="1" max="99"
                data-item_id="{{ item.item_id }}"
                id="id_qty_{{ item.item_id }}">
            <div class="input-group-append">
                <button class="incr-qty-btn btn btn-sm redish-bg redish-hover"
                    data-item_id="{{ item.item_id }}" id="incr-qty_{{ item.item_id }}">
                    <span>
                        <i class="fas fa-plus fa-sm no-pointer-events"></i>
                    </span>
                </button>
            </div>
            {% if item.offer.has_sizes %}
                <input type="hidden" name="item_sz" value="{{ item.item_sz }}">
            {% endif %}
        </div>
    </div>
</form>
<a class="updt-link text-info"><small class="full-height-width">Update</small></a>
<a class="rem-item float-right pr-5" id="remove_{{ item.item_id }}" data-item_sz="{{ item.size }}"><small class="full-height-width">Remove</small></a>