{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-cont">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="dark-bg-filter"></div>
<div class="container h-100">
    <div class="row h-100">
        <div class="scroll-top-btn shadow-sm rounded-0 border redish-border">
            <a class="btt-link d-flex h-100">
                <i class="fas fa-chevron-up mx-auto my-auto text-white"></i>
            </a>	
        </div>
        <div class="col-7 col-md-6 my-auto">
            <h1 class="display-4 logo-font text-white">
                The new collections are here
            </h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'offers' %}" class="to-offers-button btn btn-lg rounded-0 text-uppercase py-3">Go To Shop</a>
                </h4>
            </div>
        </div>
    </div>
</div>

<section id="feature-cards" class="top-full dark-bg bottom-half">
                <h2 class="text-white text-center feature-headline">Find Out How Easy Our Gym-Coupon System Works!</h2>
                <div class="container">
                    <div class="row min-vh-100">
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="feature-item redish-card-hover">
                                <span class="f-icon transition inline-flex"><i class="fas fa-user"></i></span>
                                <h6 class="mb-15 transition text-uppercase text-white fs-18">Buy A Coupon</h6>
                                <p class="mb-0 transition">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                            </div>
                        </div> 
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="feature-item redish-card-hover">
                                <span class="f-icon transition mb-3 inline-flex"><i class="fas fa-lock"></i></span>
                                <h6 class="mb-15 transition text-uppercase text-white fs-18">Come To our gym</h6>
                                <p class="mb-0 transition">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="feature-item redish-card-hover">
                                <span class="f-icon transition mb-3 inline-flex"><i class="fas fa-heart-broken"></i></span>
                                <h6 class="mb-15 transition text-uppercase text-white fs-18">Enjoy The Training</h6>
                                <p class="mb-0 transition">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                            </div>
                        </div>
                    </div> 
                </div>
            </section>


<!-- <div class="container-fluid h-100" style="background: #0D1116">
    <div class="row h-100">
        <div class="col">
            <div class="row">
                <div class="col text-center my-5">
                    <h2 class="text-white mt-5">How Does our Coupon System work?</h2>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="dark-white-bg col-12 col-md-4">
                        <div class="info-card">
                            <div class="info-icon">

                            </div>
                            <h4 class="info-headline text-white"></h4>
                            <p class="info-txt">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                            </p>
                        </div>
                    </div>
                    <div class="dark-white-bg col-12 col-md-4">Hallo</div>
                    <div class="dark-white-bg col-12 col-md-4">Hallo</div>
                </div>
            </div>
        </div>
    </div>
    </div> -->
<div class="container-fluid h-50" style="background: var(--redish)">
    <div class="row h-40"></div>
    <div class="col text-center">
        <h1 class="text-white">How Does our Coupon System work?</h1>
    </div>
</div>

{% endblock %}