/* ------------------------------------------------------------------ GENERAL */

:root
{
    --redish: #DF3449;
    --dark-bg: #0D1116;
}

html
{
    height: 100%;
}

body 
{
    background: url('/media/muscle_flexing.jpg') no-repeat center center;
    background-size: cover;
    height: calc(100vh - 128px);
    font-family: 'Lato';
}


/* ------------------------------------------------------------------ SCROLLBAR */
        
/* Scrollbar (width) */
::-webkit-scrollbar
{
    width: 5px;
}

/* Scrollbar Track (background) */
::-webkit-scrollbar-track
{
    background: #333;
    background: #555;
    background: var(--dark-bg);
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb
{
    background: #888;
    background: #525252;
    border-radius: 5px;
}

/* HOVER - Scrollbar Thumb */
::-webkit-scrollbar-thumb:hover 
{
    background: #555;
    background: #888;
}


/* ------------------------------------------------------------------ COLORS */



.dark-white-bg
{
    background: #eee !important;
}

.text-black
{
    color: #000 !important;
}

/* Redish classes */
.redish-bg
{
    background: var(--redish) !important;
}

.redish-color
{
    color: var(--redish) !important;
}

.redish-border
{
    border-color: var(--redish) !important;
}

.redish-border:hover
{
    background: var(--redish);
}

.redish-hover:hover
{
    background: rgba(223, 52, 73, .6) !important;
    color: #fff !important;
}

/* ------------------------------------------------------------------ HEADER / NAVBAR */

header
{
    background: #000;
    background: #212224;
}

.menu-btn
{
    font-size: 1.5em;
}

.nav-link
{
    color: #fff;
}

.nav-link:hover
{
    color: rgba(255,255,255,.5);
}

.dropdown-menu
{
    background: #eee;
}

.dropdown-menu.search-dropdown
{
    background: #525252;
}

.header-cont
{
    height: 128px;
}


/* ------------------------------------------------------------------ HOME PAGE */

.to-offers-button
{
    background: var(--redish);
    color: #fafafa;
}

.to-offers-button:hover,
.go-to-offer-btn:hover
{
    /* !!! */
    background: rgba(223, 52, 73, .6);
    color: #fff;
}


/* ------------------------------------------------------------------ OFFERS */

.scroll-top-btn
{
    position: fixed;
    bottom: 10px;
    right: 3%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 9999999;
}

/* Background to overlay image */
.dark-background
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--dark-bg);
}

.sorting-select
{
    background-color: #eee;
    border-radius: 3px;
}

/* Badges */
span.badge
{
    border-color: var(--redish) !important;
    font-weight: 400 !important;
}

span.badge:hover
{
    background: var(--redish);
    color: #fff;
}

/* Underlines */
.white-hr
{
    margin: 1em auto;
    border: solid 1px rgba(255,255,255,1);
    z-index: 99;
}

/* Underline for Cards */
.card-hr
{
    width: 80%;
    margin: .5em auto;
    border: solid 1px rgba(0,0,0,.3)
}

/* Offer Cards */
.offer
{
    background: #333;
    color: #fff;
    /* !!!*/
    box-shadow: 0 0 10px rgba(0,0,0,.8);
}

/* Price */
.offers-price
{
    margin-top: -.5em;
    font-size: 2em;
    color: var(--redish);
}

.floating-dollar
{
    color: #fafafa;
    font-size: .5em;
    position: absolute;
    transform: translate(-150%, 30%);
}

.floating-cents
{
    font-size: .5em;
    position: absolute;
    transform: translate(10%, 30%);
}

/* Card Button */
.go-to-offer-btn
{
    color: #fff;
    width: 100%;
    background: var(--redish);
    cursor: pointer;
}


/* ------------------------------------------------------------------ OFFER DETAILS */

.offer-details-container
{
    color: #fff;
}


/* ------------------------------------------------------------------ CART */

.cart-cont
{
    color: #fff;
}

.cart-th
{
    margin: 0;
    color: #fff;
    /* !!!*/
    /* font-weight: 500;*/
}

.item-name
{
    font-size: 1.03em;
}

.upd-link,
.rem-item
{
    cursor: pointer;
}

.rem-item
{
    color: red !important;
}

.rem-item:hover
{
    color: rgba(255,0,0,.5) !important;
}

.cart-prices
{
    font-size: 1.3em;
}


/* ------------------------------------------------------------------ MEDIA QUERIES */

@media only screen and (max-width: 800px)
{
    .cart-cont
    {
        font-size: .7em;
    }
    
    .cart-checkout
    {
        font-size: .5em;
    }
    
    .mobile-qty
    {
        transform: scale(.8);
    }
    
    .mobile-qty-td
    {
        padding-right: 0 !important;
    }
}


@media only screen and (max-width: 550px)
{
    .scroll-top-btn
    {
        height: 30px;
        width: 30px;
        font-size: .9em;
    }
}


@media only screen and (max-width: 458px)
{
    .back-to-shop-btn
    {
        margin-bottom: .5em;
    }
}