<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="all-offerings-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Offerings
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-offers-link">
                <a href="{% url 'offers' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'offers' %}?sort=is_course&direction=asc" class="dropdown-item">By Type</a>
                <a href="{% url 'offers' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'offers' %}" class="dropdown-item">All Offers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="courses-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Courses
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="courses-link">
                <a href="{% url 'offers' %}?category=strength" class="dropdown-item">Strength</a>
                <a href="{% url 'offers' %}?category=cardio" class="dropdown-item">Cardio</a>
                <a href="{% url 'offers' %}?category=yoga" class="dropdown-item">Yoga</a>
                <a href="{% url 'offers' %}?category=stretching" class="dropdown-item">Stretching</a>
                <a href="{% url 'offers' %}?category=kick_boxing" class="dropdown-item">Kick-/Boxing</a>
                <a href="{% url 'offers' %}?category=physio_recovery" class="dropdown-item">Physio/Recovery</a>
                <a href="{% url 'offers' %}?category=bums_tums_legs" class="dropdown-item">Bums, Tums & Legs</a>
                <a href="{% url 'offers' %}?category=strength,cardio,yoga,stretching,physio_recovery,kick_boxing,bums_tums_legs" class="dropdown-item">
                    All Courses
                </a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="gym-equipment-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gym Equipment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gym-equipment-link">
                <a href="{% url 'offers' %}?category=items_equipment" class="dropdown-item">Shakers &amp; Gear</a>
                <a href="{% url 'offers' %}?category=items_clothing" class="dropdown-item">Clothing</a>
                <a href="{% url 'offers' %}?category=items_equipment,items_clothing" class="dropdown-item">All GymEquipments</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" href="#" id="new-offers-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Brand New
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="new-offers-link">
                <a href="{% url 'offers' %}?category=new_courses" class="dropdown-item">New Courses</a>
                <a href="{% url 'offers' %}?category=new_items" class="dropdown-item">New Items</a>
                <a href="{% url 'offers' %}?category=new_courses,new_items" class="dropdown-item">All New Offers</a>
            </div>
        </li>
    </ul>
</div>