{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
    <h2 class="logo-font text-white mb-4 mt-5 text-uppercase">{% trans "Sign Out" %}</h2>
    <div class="white-hr"></div>
    <p>{% trans 'Are you sure you want to sign out?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="btn redish-border text-white rounded-0" href="{% url 'home' %}">Cancel</a>
        <button class="redish-bg redish-hover redish-border px-5 ml-1 text-uppercase"
            type="submit">{% trans 'Sign Out' %}</button>
    </form>
{% endblock %}