{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <h2 class="logo-font text-white mb-4 mt-5 text-uppercase">{% trans "Change Password" %}</h2>
    <div class="white-hr"></div>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <a class="btn redish-border text-white rounded-0" href="{% url 'account_login' %}">Back to Login</a>
        <button class="redish-bg redish-hover redish-border px-5 ml-1 text-uppercase" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
{% endblock %}