{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner_content %}
    <h2 class="logo-font mb-4 mt-5 text-white text-uppercase">{% trans "Verify Your E-mail Address" %}</h2>
    <div class="white-hr"></div>

    <p>
        {% blocktrans %}
            We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. <br><br> 
            Please contact us if you do not receive it within a few minutes.
        {% endblocktrans %}
    </p>
    <a class="btn redish-border text-white rounded-0" href="{% url 'home' %}">Home</a>

{% endblock %}