<script type="text/javascript">

    const allQtyInputs = document.querySelectorAll(".qty-input");
    const incrQtyBtn = document.querySelector(".incr-qty-btn");
    const decrQtyBtn = document.querySelector(".decr-qty-btn");

    allQtyInputs.forEach(qtyInput => {
        let itemId = qtyInput.dataset.item_id;

        enableDisableBtns(itemId);
    });


    allQtyInputs.forEach(qtyInput => {
        qtyInput.addEventListener("change", () => {
            let itemId = qtyInput.dataset.item_id;

            enableDisableBtns(itemId);
        });
    });


    const enableDisableBtns = (itemId) => {
        const incrQty = document.querySelector(`#incr-qty_${itemId}`);
        const decrQty = document.querySelector(`#decr-qty_${itemId}`);
        const qtyValue = document.querySelector(`#id_qty_${itemId}`);

        let currValue = parseInt(qtyValue.value);
        let plusDisabl = currValue > 98;
        let minusDisabl = currValue < 2;

        plusDisabl ? incrQty.disabled = true : incrQty.disabled = false;
        minusDisabl ? decrQty.disabled = true : decrQty.disabled = false;
    }


    incrQtyBtn.addEventListener("click", (e) => {
        e.preventDefault();
        let itemId = e.target.dataset.item_id;
        let closeInput = e.target.closest('.input-group').querySelectorAll('.qty-input')[0];
        let currValue = parseInt(closeInput.value);

        closeInput.value = currValue + 1;
        enableDisableBtns(itemId);
    });


    decrQtyBtn.addEventListener("click", (e) => {
        e.preventDefault();
        let itemId = e.target.dataset.item_id;
        let closeInput = e.target.closest('.input-group').querySelectorAll('.qty-input')[0];
        let currValue = parseInt(closeInput.value);

        closeInput.value = currValue - 1;
        enableDisableBtns(itemId);
    });


</script>