/* height of profile form + submit button */
.order-history {
    max-height: 416px;
    overflow-y: auto;
}

.orders-table
{
    color: #fff;
}

.orders-table th
{
    font-weight: 500;
}

#profile-update-form .form-control {
    color: #000;
}

#profile-update-form input::placeholder {
    color: #525252;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}
/* !!! */