{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'sec_checkout/css/sec_checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-cont">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="dark-background"></div>
    <div class="scroll-top-btn d-none no-pointer-events">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-chevron-up mx-auto my-auto text-white"></i>
        </a>	
    </div>
    <div class="container">
        <div class="row">
            <div class="col mt-5 mb-2">
                <h2 class="logo-font mb-4 pl-3 text-uppercase">Checkout</h2>
                <div class="white-hr w100 my-3"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6 order-lg-last mb-5">
                <p class="text-uppercase">Order Summary ({{ items_amt }})</p>
                <div class="row">
                    <div class="col-7 offset-2">
                        <p class="mb-1 mt-0 small text-muted text-uppercase">Item</p>
                    </div>
                    <div class="col-3 text-right">
                        <p class="mb-1 mt-0 small text-muted text-uppercase">Subtotal</p>
                    </div>
                </div>
                {% for item in cart_items %}
                    <div class="row">
                        <div class="col-2 mb-1">
                            <a href="{% url 'offer_details' item.offer.id %}">
                                {% if item.offer.image %}
                                    <img class="w-100" src="{{ item.offer.image.url }}" alt="{{ offer.name }}">
                                {% else %}
                                    <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ offer.name }}">
                                {% endif %}
                            </a>
                        </div>
                        <div class="col-7">
                            <p class="my-0"><strong>{{ item.offer.name|title }}</strong></p>
                            <p class="my-0 small"><span class="text-muted">Size: </span> {% if item.offer.has_sizes %}{{ item.item_size|upper }}{% else %}N/A{% endif %}</p>
                            <p class="my-0 small text-muted">Qty: {{ item.qty }}</p>
                        </div>
                        <div class="col-3 text-right">
                            <p class="my-0 small text-muted">${{ item.offer.price | calc_subtotal:item.qty }}</p>
                        </div>
                    </div>
                {% endfor %}
                <div class="white-hr w100 my-3"></div>
                <div class="row text-right">
                    <div class="col-7 offset-2">
                        <p class="my-0">Cart Total:</p>
                        <p class="my-0">Delivery:</p>
                        <p class="my-0">Taxes:</p>
                        <p class="mt-0 mb-2">Grand Total:</p>
                    </div>
                    <div class="col-3">
                        <p class="my-0">${{ cart_total | floatformat:2 }}</p>
                        <p class="my-0">${{ delivery | floatformat:2 }}</p>
                        <p class="mt-0 mb-2">${{ delivery | floatformat:2 }}(9 %)</p>
                        <p class="my-0"><strong>${{ gr_total | floatformat:2 }}</strong></p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <p class="pl-4">Please fill out the form below to complete your order</p>
                <form action="{% url 'sec_checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <fieldset class="rounded px-3 mb-3">
                        <legend class="fieldset-label small px-2 mb-3 w-auto text-uppercase">Details</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                    </fieldset>
                    <fieldset class="rounded px-3 mb-3">
                        <legend class="fieldset-label small px-2 w-auto text-uppercase">Delivery</legend>
                        {{ order_form.phone_nr | as_crispy_field }}
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        {{ order_form.city | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        <div class="form-check form-check-inline float-right mr-0">
							{% if user.is_authenticated %}
								<label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                                <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
							{% else %}
								<label class="form-check-label" for="id-save-info">
                                    <a class="text-info" href="{% url 'account_signup' %}">create an Account</a> or 
                                    <a class="text-info" href="{% url 'account_login' %}">Login</a> to save your data
                                </label>
							{% endif %}
						</div>
                    </fieldset>
                    <fieldset class="px-3">
                        <legend class="fieldset-label small px-2 w-auto text-uppercase">Payment</legend>
                        <!-- A Stripe card element will go here -->
                        <div class="mb-3" id="card-element"></div>
                        <!-- Used to display form errors -->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                        <!-- Passes the client secret to the view so we can get the payment intent id -->
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>

                    <div class="submit-button text-right my-5 pr-3">                    
						<a href="{% url 'to_cart' %}" class="btn redish-border rounded-0">
							<span class="icon">
								<i class="fas fa-chevron-left"></i>
							</span>
							<span class="font-weight-bold">Adjust Cart</span>
						</a>
						<button id="submit-button" class="btn redish-bg redish-hover rounded-0">
							<span class="font-weight-bold">Complete Order</span>
							<span class="icon">
								<i class="fas fa-lock"></i>
							</span>
						</button>
						<p class="small text-danger mt-2">
							<span class="icon">
								<i class="fas fa-exclamation-circle"></i>
							</span>
                            <span class="redish-color">
                                Your card will be charged <strong class="text-white">${{ gr_total|floatformat:2 }}</strong>
                            </span>
						</p>
					</div>
                </form>
            </div>
        </div>
    </div>
    <!-- 4000 0025 0000 3155 -->
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
        <script src="{% static 'sec_checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
